<font color=red>Although to_datetime could do its job without giving the format smartly, the conversion speed is much lower than that when the format is given.

We could set the option infer_datetime_format of to_datetime to be True to switch the conversion to a faster mode if the format of the datetime string could be inferred without giving the format string.

It could increase the parsing speed by 5~6 times.

In [33]:
# importing the dataset
import pandas as pd

#script started on 04/15

#create a sample dictionary containing multiple date formats and sample dates in string format
dateFormats = {
    'date_string' : ['04/15/20', '04/22/20', '21/04/20'], # column with date stored as string in mixed format
}

df = pd.DataFrame(dateFormats) 

print(df.dtypes)

date_string    object
dtype: object

In [34]:
# let see how data looks in the dataframe
print(df)

  date_string
0    04/15/20
1    04/22/20
2    21/04/20

In [35]:
# let's add a column of type datetime that will be used to convert
# string date into datetime format
df['identified_format'] = None
df['converted_value'] = None
print(df.dtypes)

date_string          object
identified_format    object
converted_value      object
dtype: object

In [36]:
# let's convert to_datetime column to datetime type
df['converted_value'] = pd.to_datetime(df['converted_value'])

print(df['converted_value'].dtypes)

datetime64[ns]

In [37]:
df

  date_string identified_format converted_value
0    04/15/20              None             NaT
1    04/22/20              None             NaT
2    21/04/20              None             NaT

In [97]:
def identifyFormat(currRow):
    
    #print('Inside ')
    #print(currRow)
    #print(type(currRow))
    
    rowLength = len(currRow)
    slashCount = currRow.count('/')
    firstPart = currRow[:2]
    secondPart = currRow[3:5]
    thirdPart = currRow[6:8]
    
    print('rowLength:', rowLength, \
          ' slashCount:', slashCount, \
          ' firstPart:', firstPart, \
          ' secondPart:', secondPart, \
          ' thirdPart:', thirdPart \
         )
    
    #identifyFormat
    if rowLength == 8 and int(firstPart) > 12:
        identifiedFormat = 'dd/mm/yy'
    elif rowLength == 8 and int(secondPart) > 12:
        identifiedFormat = 'mm/dd/yy'

    #convertedValue = None
    #if identifiedFormat == 'mm/dd/yy':
        #convertedValue = pd.to_datetime(currRow, format='%m/%d/%Y', errors='coerce')
    
    #print('\n')
    return identifiedFormat #, convertedValue
    
# downloaded, edit to avoid copyright
def find_all_indexes(input_str, substring):
    l2 = []
    length = len(input_str)
    index = 0
    while index < length:
        i = input_str.find(substring, index)
        if i == -1:
            return l2
        l2.append(i)
        index = i + 1
    return l2


s = 'This Is The Best Theorem'
print(find_all_indexes(s, 'Th'))

[0, 8, 17]

In [98]:
df['identified_format'] = None
df['identified_format'] = df['date_string'].apply(identifyFormat) #, axis=1)

rowLength: 8  slashCount: 2  firstPart: 04  secondPart: 15  thirdPart: 20
rowLength: 8  slashCount: 2  firstPart: 04  secondPart: 22  thirdPart: 20
rowLength: 8  slashCount: 2  firstPart: 21  secondPart: 04  thirdPart: 20

In [99]:
df

  date_string identified_format converted_value firstPart secondPart thirdPart
0    04/15/20          mm/dd/yy             NaT        04         15        20
1    04/22/20          mm/dd/yy             NaT        04         22        20
2    21/04/20          dd/mm/yy             NaT        21         04        20

In [127]:
# debug
row_indexes=df[df['identified_format'] == 'mm/dd/yy'].index
#row_indexes

#df.loc[row_indexes,'converted_value'] = pd.to_datetime( df.loc[row_indexes,'date_string'], \
                                                       #format='%m/%d/%Y', errors='coerce')
t = pd.DataFrame(df.loc[row_indexes,'date_string'])
print(t.dtypes)
print(type(t))
print(type(t['date_string']))
#t['date_string']
t1 = pd.to_datetime(t,format='%m/%d/%Y', errors='coerce')
t1

date_string    object
dtype: object
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing

In [103]:
df

  date_string identified_format converted_value firstPart secondPart thirdPart
0    04/15/20          mm/dd/yy            None        04         15        20
1    04/22/20          mm/dd/yy            None        04         22        20
2    21/04/20          dd/mm/yy             NaT        21         04        20

In [25]:
#df['to_datetime'] = pd.datetime(df['date_string'])
#df['to_datetime'].dt.strftime('%m/%d/%Y')
#formatted_dates = df['date_string'].dt.strftime('%m/%d/%Y')
#print(pd.to_datetime('10-2-8', dayfirst = True))
t = pd.to_datetime('04/15/2020', format='%m/%d/%Y', errors='coerce') #https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
print(type(t))
print(t)
print(t.strftime("%B")) #https://www.programiz.com/python-programming/datetime/strftime

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2020-04-15 00:00:00
April

In [26]:
df['to_datetime'] = t

In [28]:
print(df)

  date_format date_string to_datetime
0    mm/dd/yy    04/15/20  2020-04-15
1    mm/dd/yy    04/22/20  2020-04-15
2    dd/mm/yy    21/04/20  2020-04-15

In [9]:
print(df.dtypes)

date_format            object
date_string            object
to_datetime    datetime64[ns]
dtype: object