### Load the dataset

In [2]:
import pandas as pd
import os
import matplotlib
import plotly.express as px
import json

In [89]:
df_awards = pd.read_csv(r"S:\SandeepG\Official\DataScience\gitHub\data\kaggle\mlb\awards.csv")
df_players = pd.read_csv(r"S:\SandeepG\Official\DataScience\gitHub\data\kaggle\mlb\players.csv")
df_seasons = pd.read_csv(r"S:\SandeepG\Official\DataScience\gitHub\data\kaggle\mlb\seasons.csv")
df_teams = pd.read_csv(r"S:\SandeepG\Official\DataScience\gitHub\data\kaggle\mlb\teams.csv")
#df_train = pd.read_csv(r"S:\SandeepG\Official\DataScience\gitHub\data\kaggle\mlb\train_10.csv")
df_train_10 = pd.read_csv(r"S:\SandeepG\Official\DataScience\gitHub\data\kaggle\mlb\train.csv", nrows = 10)
df_train_10.to_csv(r"S:\SandeepG\Official\DataScience\gitHub\data\kaggle\mlb\out\train_10.csv", index = False)

### Following https://www.kaggle.com/miklgr500/mlb-player-digital-engagement-forecasting-eda

In [4]:
df_players.head()

,playerId,playerName,DOB,mlbDebutDate,birthCity,birthStateProvince,birthCountry,heightInches,weight,primaryPositionCode,primaryPositionName,playerForTestSetAndFuturePreds
0,665482,Gilberto Celestino,1999-02-13,2021-06-02,Santo Domingo,NaN,Dominican Republic,72,170,8,Outfielder,False
1,593590,Webster Rivas,1990-08-08,2021-05-28,Nagua,NaN,Dominican Republic,73,219,3,First Base,True
2,661269,Vladimir Gutierrez,1995-09-18,2021-05-28,Havana,NaN,Cuba,73,190,1,Pitcher,True
3,669212,Eli Morgan,1996-05-13,2021-05-28,Rancho Palos Verdes,CA,USA,70,190,1,Pitcher,True
4,666201,Alek Manoah,1998-01-09,2021-05-27,Homestead,FL,USA,78,260,1,Pitcher,True

In [5]:
df_players.describe()

            playerId  heightInches       weight
count    2061.000000   2061.000000  2061.000000
mean   587590.916060     73.750607   210.942261
std     71127.947793      2.309101    20.733118
min    112526.000000     66.000000   151.000000
25%    543343.000000     72.000000   196.000000
50%    605388.000000     74.000000   210.000000
75%    642758.000000     75.000000   225.000000
max    685503.000000     82.000000   300.000000

In [6]:
df_players['DOB'] = pd.to_datetime(df_players['DOB'])

In [7]:
df_players['DOB'].describe()

count                    2061
unique                   1670
top       1995-01-17 00:00:00
freq                        5
first     1973-05-24 00:00:00
last      2000-05-16 00:00:00
Name: DOB, dtype: object

In [8]:
df_players["DOB"].groupby(df_players["DOB"].dt.year).count().plot(kind="bar")

In [10]:
#df_players['densety'] = 1 / len(df_players)
#df_players = df_players.fillna('NaN')

#fig = px.sunburst(df_players, path=['playerForTestSetAndFuturePreds', 'primaryPositionName', 'birthCountry', 'birthStateProvince', 'birthCity'], values='densety')
#fig = px.sunburst(df_players, path=['playerForTestSetAndFuturePreds', 'primaryPositionName', 'birthCountry', 'birthStateProvince'], values='densety')
#fig.show()

In [11]:
df_players.columns

Index(['playerId', 'playerName', 'DOB', 'mlbDebutDate', 'birthCity',
       'birthStateProvince', 'birthCountry', 'heightInches', 'weight',
       'primaryPositionCode', 'primaryPositionName',
       'playerForTestSetAndFuturePreds'],
      dtype='object')

In [13]:
df_train.head()

,date,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
0,20180101,"[{""engagementMetricsDate"":""2018-01-02"",""player...",NaN,"[{""playerId"":400121,""gameDate"":""2018-01-01"",""t...",NaN,NaN,"[{""transactionId"":340732,""playerId"":547348,""pl...",NaN,NaN,NaN,"[{""date"":""2018-01-01"",""playerId"":545361,""playe...","[{""date"":""2018-01-01"",""teamId"":147,""teamName"":..."
1,20180102,"[{""engagementMetricsDate"":""2018-01-03"",""player...",NaN,"[{""playerId"":134181,""gameDate"":""2018-01-02"",""t...",NaN,NaN,"[{""transactionId"":339458,""playerId"":621173,""pl...",NaN,NaN,NaN,NaN,NaN
2,20180103,"[{""engagementMetricsDate"":""2018-01-04"",""player...",NaN,"[{""playerId"":425492,""gameDate"":""2018-01-03"",""t...",NaN,NaN,"[{""transactionId"":347527,""playerId"":572389,""pl...",NaN,NaN,NaN,NaN,NaN
3,20180104,"[{""engagementMetricsDate"":""2018-01-05"",""player...",NaN,"[{""playerId"":282332,""gameDate"":""2018-01-04"",""t...",NaN,NaN,"[{""transactionId"":339549,""playerId"":545343,""pl...",NaN,NaN,NaN,NaN,NaN
4,20180105,"[{""engagementMetricsDate"":""2018-01-06"",""player...",NaN,"[{""playerId"":282332,""gameDate"":""2018-01-05"",""t...",NaN,NaN,"[{""transactionId"":341195,""playerId"":628336,""pl...",NaN,NaN,NaN,NaN,NaN

In [16]:
df_train_next = df_train['nextDayPlayerEngagement']
df_train_next = df_train_next.to_frame()

In [17]:
type(df_train_next)

pandas.core.frame.DataFrame

In [18]:
df_train_next.head()

                             nextDayPlayerEngagement
0  [{"engagementMetricsDate":"2018-01-02","player...
1  [{"engagementMetricsDate":"2018-01-03","player...
2  [{"engagementMetricsDate":"2018-01-04","player...
3  [{"engagementMetricsDate":"2018-01-05","player...
4  [{"engagementMetricsDate":"2018-01-06","player...

In [21]:
class StopExecution(Exception):
    def _render_traceback_(self):
        pass

In [20]:
#df_train_json = df_train_next.to_json(orient="records")
#df_train_json
#type(df_train_json)
#data = pd.read_json(df_train_json,orient='columns')
#df_train_next.explode('nextDayPlayerEngagement')
#data.head()
#df_train_next.to_csv(r"S:\SandeepG\Official\DataScience\gitHub\data\kaggle\mlb\train_next_10.csv", index = False)
#type(df_train_next)
#df_train.shape

In [23]:
print(type(df_train_next))

<class 'pandas.core.frame.DataFrame'>

In [25]:
df_train_json_columns = df_train.drop('date', axis =1).columns.values.tolist()
print(df_train_json_columns)

['nextDayPlayerEngagement', 'games', 'rosters', 'playerBoxScores', 'teamBoxScores', 'transactions', 'standings', 'awards', 'events', 'playerTwitterFollowers', 'teamTwitterFollowers']

In [80]:
def convert_json_to_df(p_df):
    
    daily_df = pd.DataFrame()
    
    #print('---------- Start : convert_json_to_df ------------ ')
    for curr_train_date, curr_train_row in p_df.iterrows():
        
        # load the json in df
        daily_df = pd.read_json(curr_train_row[json_col])
        
        #append date column to df
        daily_df['date'] = curr_train_row['date']
        
        # rearrange the cols
        #daily_df = daily_df[['date', 'engagementMetricsDate', 'playerId','target1','target2','target3','target4']]
    
    #print(daily_df.head(1))
    #print('---------- End : convert_json_to_df ------------ ')
    return daily_df

In [82]:
for json_col in df_train_json_columns:
    
    #print('\n***********************************************')
    # append date column to current json col & make a df for parsing
    df_train_date_json_col = df_train[['date', json_col]]
    #print('df_train_date_json_col : ', df_train_date_json_col.columns.values.tolist(), 'df_train_date_json_col.shape : ', df_train_date_json_col.shape)
    
    # remove na rows, if any
    sr_date_json_col_nonNA_indices = ~pd.isna(df_train_date_json_col[json_col])
    df_train_date_json_col_nonNA = (df_train_date_json_col[sr_date_json_col_nonNA_indices]).reset_index(drop = True)
    
    #print(df_train_date_json_col_nonNA.shape)
    #print(df_train_date_json_col_nonNA.head(1))
    #continue
    
    if json_col == 'nextDayPlayerEngagement':
        df_nextDayPlayerEngagement = convert_json_to_df(df_train_date_json_col_nonNA)        
    elif json_col == 'games':
        df_games = convert_json_to_df(df_train_date_json_col_nonNA)
    elif json_col == 'rosters':
        df_rosters = convert_json_to_df(df_train_date_json_col_nonNA)
    elif json_col == 'playerBoxScores':
        df_playerBoxScores = convert_json_to_df(df_train_date_json_col_nonNA)
    elif json_col == 'teamBoxScores':
        df_teamBoxScores = convert_json_to_df(df_train_date_json_col_nonNA)
    elif json_col == 'transactions':
        df_transactions = convert_json_to_df(df_train_date_json_col_nonNA)
    elif json_col == 'standings':
        df_standings = convert_json_to_df(df_train_date_json_col_nonNA)
    elif json_col == 'awards':
        df_awards = convert_json_to_df(df_train_date_json_col_nonNA)
    elif json_col == 'events':
        df_events = convert_json_to_df(df_train_date_json_col_nonNA)
    elif json_col == 'playerTwitterFollowers':
        df_playerTwitterFollowers = convert_json_to_df(df_train_date_json_col_nonNA)
    elif json_col == 'teamTwitterFollowers':
        df_teamTwitterFollowers = convert_json_to_df(df_train_date_json_col_nonNA)

In [84]:
print (df_nextDayPlayerEngagement.shape)
print (df_games.shape)
print (df_rosters.shape)
print (df_playerBoxScores.shape)
print (df_teamBoxScores.shape)
print (df_transactions.shape)
print (df_standings.shape)
print (df_awards.shape)
print (df_events.shape)
print (df_playerTwitterFollowers.shape)
print (df_teamTwitterFollowers.shape)

(2061, 7)
(0, 0)
(1182, 6)
(0, 0)
(0, 0)
(32, 13)
(0, 0)
(0, 0)
(0, 0)
(813, 6)
(30, 6)

In [90]:
df_nextDayPlayerEngagement.to_csv(r"S:\SandeepG\Official\DataScience\gitHub\data\kaggle\mlb\out\df_nextDayPlayerEngagement.csv", index = False)
df_games.to_csv(r"S:\SandeepG\Official\DataScience\gitHub\data\kaggle\mlb\out\df_games.csv", index = False)
df_rosters.to_csv(r"S:\SandeepG\Official\DataScience\gitHub\data\kaggle\mlb\out\train_10.csv", index = False)
df_playerBoxScores.to_csv(r"S:\SandeepG\Official\DataScience\gitHub\data\kaggle\mlb\out\df_rosters.csv", index = False)
df_teamBoxScores.to_csv(r"S:\SandeepG\Official\DataScience\gitHub\data\kaggle\mlb\out\df_teamBoxScores.csv", index = False)
df_transactions.to_csv(r"S:\SandeepG\Official\DataScience\gitHub\data\kaggle\mlb\out\df_transactions.csv", index = False)
df_standings.to_csv(r"S:\SandeepG\Official\DataScience\gitHub\data\kaggle\mlb\out\df_standings.csv", index = False)
df_awards.to_csv(r"S:\SandeepG\Official\DataScience\gitHub\data\kaggle\mlb\out\df_awards.csv", index = False)
df_events.to_csv(r"S:\SandeepG\Official\DataScience\gitHub\data\kaggle\mlb\out\df_events.csv", index = False)
df_playerTwitterFollowers.to_csv(r"S:\SandeepG\Official\DataScience\gitHub\data\kaggle\mlb\out\df_playerTwitterFollowers.csv", index = False)
df_teamTwitterFollowers.to_csv(r"S:\SandeepG\Official\DataScience\gitHub\data\kaggle\mlb\out\df_teamTwitterFollowers.csv", index = False)