In [9]:
import pandas as pd
import numpy as np

a= ["Apple","Banana","Cherry","Apple"]
b= [3,4,7,3]
c= [5,4,1,4]
d= [7,8,3,7]

df = pd.DataFrame()
#df = pd.DataFrame(columns =  ['Column1','Column2','Column3','Column4'])
#df.columns=['Column1','Column2','Column3','Column4']

df["FruitName"]=a
df["Region1"]=b
df["Region2"]=c
df["Region3"]=d

df

  FruitName  Region1  Region2  Region3
0     Apple        3        5        7
1    Banana        4        4        8
2    Cherry        7        1        3
3     Apple        3        4        7

In [10]:
result = df.groupby(['FruitName'], as_index=False).agg({'Region2':['mean','std']})
result

  FruitName Region2
               mean       std
0     Apple     4.5  0.707107
1    Banana     4.0       NaN
2    Cherry     1.0       NaN

In [11]:
result.columns

MultiIndex([('FruitName',     ''),
            (  'Region2', 'mean'),
            (  'Region2',  'std')],
           )

In [12]:
for idx, data in result.groupby(level=0):
            print('---')
            print(data)

---
  FruitName Region2
               mean       std
0     Apple     4.5  0.707107
---
  FruitName Region2
               mean std
1    Banana     4.0 NaN
---
  FruitName Region2
               mean std
2    Cherry     1.0 NaN

In [14]:
result['Region2', 'Cv'] = result['Region2', 'std']/abs(result['Region2', 'mean'])
print(result)

  FruitName Region2
               mean       std        Cv
0     Apple     4.5  0.707107  0.157135
1    Banana     4.0       NaN       NaN
2    Cherry     1.0       NaN       NaN

#### <font color=blue> Alternate Way

In [15]:

grouped = df.groupby('FruitName')

df_mean = grouped.apply(np.mean)

df_std = grouped.apply(np.std)

print(df_mean)
print('\n')
print(df_std)

           Region1  Region2  Region3
FruitName
Apple          3.0      4.5      7.0
Banana         4.0      4.0      8.0
Cherry         7.0      1.0      3.0


           Region1  Region2  Region3
FruitName
Apple          0.0      0.5      0.0
Banana         0.0      0.0      0.0
Cherry         0.0      0.0      0.0