In [1]:

# empid,empname,city,salary
# 1,empname_1,New York City,97000
# 2,empname_2,Boston,64000
# 3,empname_3,Jersey City,83000
# 4,empname_4,Boston,71000
# 5,empname_5,New York City,92500
# 6,empname_6,Boston,89500
# 7,empname_7,Boston,56500
# 8,empname_8,New York City,98500
# 9,empname_9,Boston,91000
# 10,empname_10,Jersey City,87500

In [2]:
# SQL Query to implement in python
# get maximum salary for New York City group
# SELECT empname from employees where city = New York group by city

In [5]:
import pandas as pd
df = pd.read_csv('employees.csv')

In [6]:
# python equivivalent for SQL query
df[df.city.eq('New York City')].max().empname

'empname_8'