In [1]:
import os
os.getcwd()

'/kaggle/working'

In [2]:
os.chdir('/kaggle/input/optiver-realized-volatility-prediction')

In [3]:
print(os.listdir("."))

['trade_train.parquet', 'sample_submission.csv', 'book_test.parquet', 'trade_test.parquet', 'book_train.parquet', 'train.csv', 'test.csv']

In [4]:
import pandas as pd

In [5]:
df_sample_submission = pd.read_csv('./sample_submission.csv')
df_train = pd.read_csv('./train.csv')
df_test = pd.read_csv('./test.csv')

In [6]:
import ipywidgets as widgets
#import matplotlib.pyplot as plt

from pathlib import Path

data_dir = Path('./')

df_names = ['sample_submission', 'train', 'test']

for name in df_names:
    globals()[name] = pd.read_csv(data_dir / f"{name}.csv")

kaggle_data_tabs = widgets.Tab()
# Add Output widgets for each pandas DF as tabs' children
kaggle_data_tabs.children = list([widgets.Output() for df_name in df_names])

for index in range(0, len(df_names)):
    # Rename tab bar titles to df names
    kaggle_data_tabs.set_title(index, df_names[index])
    
    # Display corresponding table output for this tab name
    with kaggle_data_tabs.children[index]:
        display(eval(df_names[index]))

display(kaggle_data_tabs)

Tab(children=(Output(), Output(), Output()), _titles={'0': 'sample_submission', '1': 'train', '2': 'test'})

In [7]:
df_train.describe()

            stock_id        time_id         target
count  428932.000000  428932.000000  428932.000000
mean       62.437944   16038.972721       0.003880
std        37.126450    9365.103706       0.002936
min         0.000000       5.000000       0.000105
25%        30.000000    7854.000000       0.002026
50%        63.000000   15853.000000       0.003048
75%        96.000000   23994.000000       0.004738
max       126.000000   32767.000000       0.070321

In [8]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 428932 entries, 0 to 428931
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   stock_id  428932 non-null  int64
 1   time_id   428932 non-null  int64
 2   target    428932 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 9.8 MB

In [10]:
df_train.describe()

            stock_id        time_id         target
count  428932.000000  428932.000000  428932.000000
mean       62.437944   16038.972721       0.003880
std        37.126450    9365.103706       0.002936
min         0.000000       5.000000       0.000105
25%        30.000000    7854.000000       0.002026
50%        63.000000   15853.000000       0.003048
75%        96.000000   23994.000000       0.004738
max       126.000000   32767.000000       0.070321

In [11]:
df_train_0.stock_id.unique()

array([0])

In [12]:
df_train.stock_id.unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  26,  27,  28,
        29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,
        42,  43,  44,  46,  47,  48,  50,  51,  52,  53,  55,  56,  58,
        59,  60,  61,  62,  63,  64,  66,  67,  68,  69,  70,  72,  73,
        74,  75,  76,  77,  78,  80,  81,  82,  83,  84,  85,  86,  87,
        88,  89,  90,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102,
       103, 104, 105, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       118, 119, 120, 122, 123, 124, 125, 126])

In [13]:
df_train.time_id.unique()

array([    5,    11,    16, ..., 32758, 32763, 32767])

In [41]:
df_train_s0_s10 = df_train[df_train['stock_id'] <= 10]

In [43]:
import numpy as np

# Select time_id, count(stock_id) cnt_stk, mean(stock_id), min(stock_id) min_stk, max(stock_id) max_stk, count(target) cnt_trg
print(df_train_s0_s10[['stock_id', 'time_id']].set_index("stock_id").select_dtypes(np.number).stack().groupby(level=0).describe())

# Select stock_id, count(target) cnt_trg, min(target) min_trg, max(target) max_trg etc
print(df_train_s0_s10[['stock_id', 'target']].set_index("stock_id").select_dtypes(np.number).stack().groupby(level=0).describe())

           count          mean          std  min     25%      50%      75%  \
stock_id
0         3830.0  16038.933681  9366.261949  5.0  7856.5  15852.5  23988.5
1         3830.0  16038.933681  9366.261949  5.0  7856.5  15852.5  23988.5
2         3830.0  16038.933681  9366.261949  5.0  7856.5  15852.5  23988.5
3         3830.0  16038.933681  9366.261949  5.0  7856.5  15852.5  23988.5
4         3830.0  16038.933681  9366.261949  5.0  7856.5  15852.5  23988.5
5         3830.0  16038.933681  9366.261949  5.0  7856.5  15852.5  23988.5
6         3830.0  16038.933681  9366.261949  5.0  7856.5  15852.5  23988.5
7         3830.0  16038.933681  9366.261949  5.0  7856.5  15852.5  23988.5
8         3830.0  16038.933681  9366.261949  5.0  7856.5  15852.5  23988.5
9         3830.0  16038.933681  9366.261949  5.0  7856.5  15852.5  23988.5
10        3830.0  16038.933681  9366.261949  5.0  7856.5  15852.5  23988.5

              max
stock_id
0         32767.0
1         32767.0
2         32767.0
3         32767.0
4         32767.0
5         32767.0
6         32767.0
7         32767.0
8         32767.0
9         32767.0
10        32767.0
           count      mean       std       min       25%       50%       75%  \
stock_id
0         3830.0  0.004028  0.002855  0.000594  0.002246  0.003180  0.004827
1         3830.0  0.004362  0.002433  0.000885  0.002629  0.003719  0.005407
2         3830.0  0.002385  0.002339  0.000394  0.001310  0.001748  0.002458
3         3830.0  0.006182  0.003201  0.000746  0.004010  0.005422  0.007576
4         3830.0  0.004197  0.002879  0.000810  0.002449  0.003397  0.004928
5         3830.0  0.005170  0.003096  0.000605  0.003158  0.004332  0.006165
6         3830.0  0.006923  0.003323  0.000840  0.004617  0.006216  0.008387
7         3830.0  0.003288  0.002129  0.000521  0.002006  0.002770  0.003876
8         3830.0  0.004320  0.002709  0.000899  0.002484  0.003568  0.005282
9         3830.0  0.005554  0.003115  0.001166  0.003397  0.004731  0.006738
10        3830.0  0.003501  0.002278  0.000674  0.002000  0.002812  0.004293

               max
stock_id
0         0.036311
1         0.020951
2         0.024848
3         0.038606
4         0.025648
5         0.026358
6         0.031468
7         0.022414
8         0.028987
9         0.025449
10        0.022844